.alt-header{
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alt-header__column{
    width: 33%;
}

.alt-header__title{
    font-size: 28px;
    font-weight: 600;

}

.alt-header__column:first-child { /* 클래스명과 : 자식태그는 붙여서 작성할것*/
    margin-right: auto;

}

.alt-header__column:nth-child(2) { /* 클래스명과 : 자식태그는 붙여서 작성할것*/
    text-align: center;
    
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-header__column span:last-child{
    margin-left: 20px ;

}