#chat-screen{
    background-color: #ABC0D0;
    height: 500vh;
}


#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #ABC0D0;
    box-sizing: border-box;
}

#chat-screen .status-bar{
    z-index: 2;
}

#chat-screen .alt-header {
    top: 10px;
    z-index: 1;
}

@keyframes fadeIn{
    from{
    transform: translateY(30px);
    opacity: 0;
    }
    to{
        transform: none;
        opacity:1 ;
    }

}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s linear;
}


.chat__timestamp{
    background-color: #91A3B2;
    color: white;
    padding: 15px 15px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px; /*message-row-content간격 */

}

.message-row img{
    width: 40px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.message-author {
    margin-bottom: 5px;
    display: block;

}

@keyframes bubblefadeIn {
    from{
        transform: translateX(-30px);
        opacity: 0;
        }
        to{
            transform: none;
            opacity:1 ;
        }
}

.messasge-bubble{
    background-color: white;
    padding:8px 13px;
    font-size:18px;
    border-radius: 15px;
    border-top-left-radius: 0px; /*왼쪽 모서리를 각지게표현*/
    animation: bubblefadeIn 0.3s ease-in-out;

}

.message-info{
    display: flex;
    align-items: flex-end;

}

.message-time,
.message-author {
    font-size: 15px;
    margin-left: 5px;
    color: #606B73;
}

.message-row--own{
    justify-content: flex-end;
}

.message-row--own .messasge-bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px; /*왼쪽 모서리를 각지게표현*/;
    border-top-left-radius: 15px;
}

.message-row--own .message-info{
    flex-direction: row-reverse;
}

.reply__column i{
    opacity: 0.6; /*아이콘들의 투명도 조절*/
}

.reply__column button i {
    opacity: 1; /*버튼 모양까지 변경X 따로 지정*/
}
.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child{
    width: 10%; /*plus icon 설정*/
    
}

.reply .reply__column:last-child{
    width: 90%; /*smile, arrow icon 설정*/
    position: relative;
}

.reply__column:last-child >i,
.reply__column:last-child button {
    position: absolute;
    right: -3px;
    top: 9px;
}


.reply input{
    padding: 10px;
    margin-left: -30px;
    height: 30px;
    width: 100%;
    border: var(--main-bottom);
    border-radius: 20px;
    /*write a message ICpn 설정*/
    transition: all .3s ease-in-out;
} 

.reply__column:last-child > i {
    right: 40px;
    top: 25px;
}

.reply__column button{
    background-color: yellow;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active{
    outline: none;
}

.reply .reply__column:first-child ,
.reply .fa-face-smile,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child ,
.reply:focus-within .fa-face-smile,
.reply:focus-within button{
    opacity: 0;
}

.reply:focus-within input{
    width: 98vw;
    transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within{
transform:translateY(80px);
}