.welcome-header{
    margin:90px 0px;
    text-align: center; /*header와 같은 h1파일이 있기때문에 text-align사용*/
    display: flex;
    flex-direction:column ;
    align-items: center;
    font-weight: 600;
}
.welcome-header__title{
    margin-bottom: 40px; /*픽셀 확인할땐 page ruler redux사용*/
    font-size: 25px;

}
.welcome-header__text{
    width: 60%;
    opacity: 0.3;

}

#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
#login-form input {
    border: none;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 20px;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-size: 25px;
}

#login-form input:focus{
    border-color:var(--yellow);
}

#login-form input[type="submit"] {
    background-color: var(--gray);
    /* cursor : not-allowed; 커서 허용 X */
    font-size: 21px;
    height: 51px;
    padding:10px 0px;
    border-radius: 5px;
}

#login-form a{
    text-align: center;
    text-decoration: none;
    color: inherit; /*a 가 색상을 부모로부터 상속받아옴*/
    font-size: 13px;
}

